<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="TCPPort" value="10001"/>
    <add key="TCPReadTimeout" value="5"/>
    <add key="TCPWriteTimeout" value="5"/>
    
    <add key="Products" value="DDX,ZEMA"/>
    
    <add key="DDX" value="\\fs-02.zepower.com\IT\Release\DataDirect\ExcelAddIn4.x.x"/>
    <add key="ZEMA" value="\\fs-02.zepower.com\IT\Release\ZEMA4"/>

    <add key="Adminstrators" value="hajime.kobayashi"/>
  </appSettings>
</configuration>
