<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="TCPPort" value="10001"/>
    <add key="TCPReadTimeout" value="5"/>
    <add key="TCPWriteTimeout" value="5"/>

    <add key="UDPAddress" value="230.0.0.1"/>
    <add key="UDPort" value="5001"/>
    <add key="UDPReadTimeout" value="5"/>
    <add key="UDPWriteTimeout" value="5"/>
    
    <add key="Products" value="ZEMA 4,ZEMA,DDX 4,DDX 4 Testing,DDX 2"/>
    
    <add key="ZEMA 4" value="\\fs-02.zepower.com\IT\Release\ZEMA4"/>
    <add key="ZEMA" value="\\fs-02.zepower.com\IT\Release\ZEMA"/>
    <add key="DDX 4" value="\\fs-02.zepower.com\IT\Release\DataDirect\ExcelAddIn4.x.x"/>
    <add key="DDX 4 Testing" value="\\fs-02.zepower.com\IT\Release\DataDirect\ExcelAddIn4.x.x\testing"/>
    <add key="DDX 2" value="\\fs-02.zepower.com\IT\Release\DataDirect\ExcelAddIn2.x.x"/>

    <add key="Adminstrators" value="hajime.kobayashi"/>
  </appSettings>
</configuration>
